<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1 width=device-width">
        <title>{% block title %}Project Manager{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <h1>Project Manager</h1>
                <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
            </nav>
        </header>

        {% block content %}
        <main>
            <section class="hero">
                <h2>Organize Your Projects. Track Your Tasks.</h2>
                <p>Manage your projects and tasks easily with your team.</p>
                {% if not current_user.is_authenticated %}
                    <div class="hero-buttons">
                    <a class="btn" href="{{ url_for('login') }}">Login</a>
                    <a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
                </div>
                {% endif %}
            </section>
        </main>
        {% endblock %}

        <footer>
            <p>Harsini Jegatheesan 2026</p>
        </footer>
    </body>
</html>