{% extends 'layout.html' %}

{% block content %}
<h1>{{ project.name }}</h1>

<div>Description</div>
<div>{{ project.description }}</div>

<h2>Members</h2>

<ul>
{% for member in project.members %}
    <li>{{ member.username }}</li>
{% endfor %}
</ul>

{% if current_user.role == "admin" %}
<form method="POST" action="{{ url_for('add_member', id=project.id) }}">
    <select name="user_id">
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
  </select>
  <button type="submit">Add Member</button>
</form>
{% endif %}

<h2>Tasks</h2>

{% for task in project.tasks %}
  <div>
    <h4>{{ task.title }}</h4>
    <p>{{ task.description }}</p>
    <p>Priority: {{ task.priority }}</p>
    <p>Status: {{ task.status }}</p>
    <p>Deadline: {{ task.deadline.strftime("%Y-%m-%d") }}</p>

    <p>Assigned to:
      {% for user in task.assignees %}
        {{ user.username }}
      {% endfor %}
    </p>
  </div>
{% endfor %}

<a href="{{ url_for('view_projects') }}">Back to Projects</a>
{% endblock %}